<div class="product-container">
    <img class="product-image" src="{{ product.url }}"/>
    <ul>
        <li>{{ product.name }}</li>
        <li>${{ product.price }}</li>
        <select class="select-input" [(ngModel)]="selectedQuantity">
            <option *ngFor="let quantity of quantityOptions" [ngValue]="quantity">{{ quantity }}</option>
        </select>
        <br>
        <button
        class="btn-primary"
        (click)="addItemToCart(product, selectedQuantity)">
            Add to cart
        </button>
    </ul>
</div>
